In [52]:
import os
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
os.listdir("Resources")

['holidays_events.csv',
 'oil.csv',
 'sample_submission.csv',
 'stores.csv',
 'test.csv',
 'train.csv',
 'transactions.csv']

In [116]:
sample_submission_df = pd.read_csv("Resources/sample_submission.csv")
stores_df = pd.read_csv("Resources/stores.csv")
train_df = pd.read_csv("Resources/train.csv")
test_df = pd.read_csv("Resources/test.csv")

# Preprocessing

In [83]:
train_df['family'] = train_df['family'].astype('category')

In [84]:
train_df['family'] = train_df['family'].cat.codes

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [73]:
y_train = train_df['sales']

In [105]:
X_train = train_df[['store_nbr', "family", 'onpromotion']]

In [107]:
LR = LinearRegression()

In [108]:
lr_model = LR.fit(X_train, y_train)

In [113]:
X_test = test_df[['store_nbr', "family", 'onpromotion']]
X_test['family'] = X_test['family'].astype('category')
X_test['family'] = X_test['family'].cat.codes

C:\Users\dhlec\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\dhlec\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [114]:
lr_model.predict(X_test)

array([ 165.92806866,    6.72263403,   65.03076292, ..., 2539.77612749,
        138.50780741,   79.69324826])

In [117]:
test_df

            id        date  store_nbr                      family  onpromotion
0      3000888  2017-08-16          1                  AUTOMOTIVE         20.0
1      3000889  2017-08-16          1                   BABY CARE          1.0
2      3000890  2017-08-16          1                      BEAUTY          8.0
3      3000891  2017-08-16          1                   BEVERAGES        560.0
4      3000892  2017-08-16          1                       BOOKS          1.0
...        ...         ...        ...                         ...          ...
28507  3029395  2017-08-31          9                     POULTRY         54.0
28508  3029396  2017-08-31          9              PREPARED FOODS         10.0
28509  3029397  2017-08-31          9                     PRODUCE        302.0
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES         15.0
28511  3029399  2017-08-31          9                     SEAFOOD          8.0

[28512 rows x 5 columns]